extends layout

block content
    h1= title
    form#formDeleteUser(name="edituser",method="post",action="/edituser")
        p
         input#inputUserName(type="text", placeholder="old name", name="oldname")
         input#inputUserEmail(type="text", placeholder="old email", name="oldemail")
        p
         input#inputUserName(type="text", placeholder="new name", name="newname")
         input#inputUserEmail(type="text", placeholder="new email", name="newemail")
        button#btnSubmit(type="submit") submit
    a(href='/') Back
