extends layout

block content
  h1.
    User List

  table
    tr
     th Name
     th Email

     each user, i in userlist
      tr
      td
       #user=user.username
      td
       #user=user.email
            
  p
    a(href='/') Back